@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #2f363e;
  > .navigation {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    background: #2f363e;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
      10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
      inset 5px 5px 20px rgba(255, 255, 255, 0.2),
      inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    > li {
      position: relative;
      list-style: none;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      margin: 0 5px;
      &:hover {
        > a {
          > .icon {
            color: #29fd53;
          }
          >.text{
            left: 100px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        > .icon {
          position: absolute;
          font-size: 1.7em;
          width: 80px;
          height: 80px;
          color: #aaa;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
          transition-delay: 0.2s;
          &::before{
            content: '';
            position: absolute;
            inset: 10px;
            background: #2f363e;
            border-radius: 50%;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.5),
            inset 2px 2px 3px rgba(255,255,255,0.25),
            inset -3px -3px 5px rgba(0,0,0,0.5);
            transform: scale(0);
            transition: 0.5s;
          }
        }
        >.text{
            position: absolute;
            left: 80px;
            font-size: 1.25em;
            background: #20fd53;
            color: #2f363e;
            padding: 4px 15px;
            border-radius: 15px;
            box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
            inset -3px -3px 5px rgba(0,0,0,0.5);
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                left: -4px;
                width: 10px;
                height: 10px;
                background: #29fd53;
            }
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 20px;
        top: calc(50% - 2.5px);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transition: 0.5s;
      }
    }
    > li.active {
      &::before {
        background: #0f0;
        box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0,
          0 0 40px #0f0, 0 0 50px #0f0;
      }
      > a {
        > .icon {
          transform: translateX(45px);
          background: #29fd53;
          color: white;
          box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
            inset 2px 2px 3px rgba(255, 255, 255, 0.25),
            inset -3px -3px 5px rgba(0, 0, 0, 0.5);
            transition-delay:0s;
        &::before{
            transform: scale(1);
        }
        }
      }
      &:hover{
        >a{
            >.text{
                left: 140px;
                opacity: 1;
                visibility: visible;
            }
        }
      }
    }
  }
}
